$font-principal: "Inter", sans-serif;

// Colores
$color-primario: #456657;
$color-primario-oscuro: #2e4d40;
$color-accent: #d6a100;
$color-texto: #575757;
$color-texto-oscuro: #333333;
$color-texto-suave: #666666;
$color-negro: #000000;
$color-blanco: #ffffff;
$bg-header-footer: #ffffffcc;
$border-color: #dddddd;

// Sombras y Bordes
$shadow-btn: 0 5px 6px #00000042;
$shadow-card: 0 4px 15px rgba(0, 0, 0, 0.03);
$border-radius-main: 20px;
